h1 {
  margin-top: 30px;
  color: white;
  text-align: center;
}
.homepage h6{
  color: white;
  text-align: center;
  margin-bottom: 150px;
}
.homepage img{
  margin-top: 50px;
}
.homepage{
  background: url("../images/h_img.jpg");
  background-size: cover;
  height: 500px;
  margin-right: 50px;
  margin-left: 50px;
}
.about{
  text-align: center;
  color: black;
  height: 250px;
  margin-bottom: 25px;
}
.about h1{
  color: black;
}
.description h3{
  color: black;
}
.description h6{
  color: black;
}
.column {
  width: 25%;
  padding: 20px;
}
.services{
  text-align: center;
  background-image: url("../images/s_image.jpg");
  height: 350px;
  color: white;
}
.homepage img{
  margin-bottom: 0%;
}
.design p{
  color: black;
}
.contact {
  background-image: url("../images/c_image.jpg");
  height: 350px;
  color: white;
}
.hover{
  position: fixed;
  width: 25%;
}
.images{
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
